{% extends 'base.html.twig' %}

{% block title %}Favorito{% endblock %}

{% block body %}
    <h1>Favorito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ favorito.id }}</td>
            </tr>
            <tr>
                <th>Id_usuario</th>
                <td>{{ favorito.idUsuario }}</td>
            </tr>
            <tr>
                <th>Id_inmueble</th>
                <td>{{ favorito.idInmueble }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('favorito_index') }}">back to list</a>

    <a href="{{ path('favorito_edit', {'id': favorito.id}) }}">edit</a>

    {{ include('favorito/_delete_form.html.twig') }}
{% endblock %}
