{% extends 'base.html.twig' %}

{% block title %}Busqueda{% endblock %}

{% block body %}
<div class="ciudad col-md-12 form-inline" style="padding:30px; background-color:white;">
    <div class="col-md-1"></div>
    <input type="text" class="form-control filter col-md-6" placeholder="Ciudad..." id="ciudad" value="{{ ciudad }}"/>
    <div class="col-md-1"></div>
    <select id="tipo" class="form-control filter col-md-3">
        <option value="0" {% if tipo == "0" %} selected {% endif %}>Seleccione una opcion...</option>
        <option value="venta" {% if tipo == "venta" %} selected {% endif %}>Venta</option>
        <option value="alquiler" {% if tipo == "alquiler" %} selected {% endif %}>Alquiler</option>
    </select>
</div>

 <div class="busqueda col-md-12">
 {% if inmuebles %}
    <div id="wrapper" class="container col-md-12" style="margin: 0px; margin-bottom:20%;color: rgb(0,0,0);background-color: white;">
            <div id="#sidebar-wrapper" class="col-md-2" style="color: rgb(0,0,0);padding: 0px;background-color: rgba(39,104,104,0);">
                <div id="sidebar-wrapper" style="background-color: rgb(39,104,104);color: rgb(0,0,0);text-align:left;">
                    <form method="post" id="filtro_form">
                    <ul class="sidebar-nav">
                        <li>
                            Precio<br>
                            <input type="number" class="form-control col-md-12 filter" id="precio_min" placeholder="Precio mínimo">
                            <input type="number" class="form-control col-md-12 filter" id="precio_max"  style="margin-top:10px;" placeholder="Precio máximo">
                         </li>
                        <li>
                            Superficie 
                            <input type="number" class="form-control col-md-12 filter" id="superficie">
                        </li>
                        <li>
                            Zona
                            <select id="zona" class="form-control filter">
                                <option value="0">Seleccione una zona...</option>
                                <option value="centro">Centro</option>
                                <option value="cerca_centro">Cerca del centro</option>
                                <option value="periferia">Periferia</option>
                                <option value="extrarradio">Extrarradio</option>
                                <option value="afueras">Afueras</option>
                            </select> 
                        </li>
                        <li>
                            Nº de habitaciones 
                            <input type="number" class="form-control col-md-12 filter" id="n_habitaciones">
                        </li>
                        <li>
                            Nº de baños 
                            <input type="number" class="form-control col-md-12 filter" id="n_baños">
                        </li>
                     </ul>
                     </form>
                 </div>
             </div>
{% endif %}
    <div class="resultados col-md-8">   
{% for inmueble in inmuebles %}
        <div class="card mb-3 col-md-12">
            <a href="resultado/{{ inmueble.id }}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if fotos[inmueble.id] %}
                            <img src="{{ asset('img/inmuebles/')  }}{{ inmueble.id }}/{{ fotos[inmueble.id].ruta}}" class="card-img" alt="..." style="max-width: 800px;">
                        {% else %}
                            <img src="{{ asset('img/no_image.jpg')  }}" class="card-img" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ inmueble.direccion }}</h5>
                            <p class="card-text">Precio: {{ inmueble.precio }} €</p>
                            <p class="card-text">{{ inmueble.ciudad }} {{ inmueble.cp }}</p>
                            <p class="card-text"><small class="text-muted">{{ inmueble.superficie }} m<sup>2</sup> - {{ (inmueble.precio/inmueble.superficie)|round(2,'floor') }} €/m<sup>2</sup></small></p>
                        </div>
                    </div>
                 </div>
             </a>
        </div>
        
{% else %}
    <span align="center">No se han encontrado registros</span>
{% endfor %}
    </div>
    </div>
    <div class="publicidad col-md-2">
        <img src="../img/symfony_logo.png"
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home/busqueda.js') }}"></script>
{% endblock %}