{% extends 'base_back.html.twig' %}

{% block title %}Mis mensajes{% endblock %}

{% block body %}
    <h1>Mis mensajes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Asunto</th>
                <th>Inmueble</th>
                <th>Fecha</th>
                <th>Texto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.correo }}</td>
                <td>{{ mensaje.telefono }}</td>
                <td>{{ mensaje.asunto }}</td>
                <td>
                    {{ inmuebles[mensaje.id].direccion }}
                    <br>    
                    {{ inmuebles[mensaje.id].ciudad }}
                    <br>    
                    {{ inmuebles[mensaje.id].zona }}
                </td>
                <td>{{ mensaje.fecha ? mensaje.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mensaje.texto }}</td>
                <td>
                    <a href="{{ path('mensaje_show', {'id': mensaje.id}) }}">Mostrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay mensajes en la bandeja de entrada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
