{% extends 'base.html.twig' %}

{% block title %}Inmueble index{% endblock %}

{% block body %}
    <h1>Inmueble index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TipoInmueble</th>
                <th>Precio</th>
                <th>Superficie</th>
                <th>Direccion</th>
                <th>Habitaciones</th>
                <th>Bathroom</th>
                <th>Comentarios</th>
                <th>Extras</th>
                <th>IdCreador</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inmueble in inmuebles %}
            <tr>
                <td>{{ inmueble.id }}</td>
                <td>{{ inmueble.tipoInmueble }}</td>
                <td>{{ inmueble.precio }}</td>
                <td>{{ inmueble.superficie }}</td>
                <td>{{ inmueble.direccion }}</td>
                <td>{{ inmueble.habitaciones }}</td>
                <td>{{ inmueble.bathroom }}</td>
                <td>{{ inmueble.comentarios }}</td>
                <td>{{ inmueble.extras }}</td>
                <td>{{ inmueble.idCreador }}</td>
                <td>{{ inmueble.disponible }}</td>
                <td>
                    <a href="{{ path('inmueble_show', {'id': inmueble.id}) }}">show</a>
                    <a href="{{ path('inmueble_edit', {'id': inmueble.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inmueble_new') }}">Create new</a>
{% endblock %}
