{% extends 'base_back.html.twig' %}

{% block title %}Inmueble{% endblock %}

{% block body %}
<a class="btn btn-light" href="{{ path('inmueble_index', {id: app.session.get('usuario_id')}) }}"><i class="fa fa-arrow-left"></i></a>
    <h1>Inmueble</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Tipo</th>
                <td>{{ inmueble.tipoInmueble }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ inmueble.precio }} €</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ inmueble.superficie }} m<sup>2</sup></td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ inmueble.direccion }}</td>
            </tr>
            <tr>
                <th>Habitaciones</th>
                <td>{{ inmueble.habitaciones }}</td>
            </tr>
            <tr>
                <th>Bathroom</th>
                <td>{{ inmueble.bathroom }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ inmueble.comentarios }}</td>
            </tr>
            <tr>
                <th>Extras</th>
                <td>{{ inmueble.extras }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if inmueble.disponible == 1 %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody> 
    </table>

    

    <a class="btn btn-primary" href="{{ path('inmueble_edit', {'id': inmueble.id}) }}">Editar</a>

    {{ include('inmueble/_delete_form.html.twig') }}
{% endblock %}
