{% if app.session.get('usuario_id') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/monthly.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.flex-images.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="{{ path('home_index') }}">Rentus</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <div class="nav navbar-nav mr-auto"></div>
                    {% if app.session.get('usuario_id')  %}
                    <div class="dropdown">
                        <a class="btn  dropdown-toggle dropdown-toggle-split" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon ion-person"></i> {{ app.session.get('usuario_nombre') }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#"><i class="icon ion-home"></i> Mi perfil</a>
                            <a class="dropdown-item" href="{{ path('logout') }}"><i class="icon ion-power"></i> Salir</a>
                        </div>
                    </div>
                    {% else %}
                        <span class="navbar-text actions"> <a class="login" href="{{ path('login') }}">Iniciar sesión</a><a class="btn btn-light action-button" role="button" href="{{ path('sign_up') }}">Registrar</a></span>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div id="wrapper" class="container col-md-12" style="margin: 0px;color: rgb(0,0,0);background-color: rgba(39,104,104,0);">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#sidebar-wrapper">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-angle-right" style="color:black;"></i>
            </button>
            <div id="#sidebar-wrapper" class="col-md-2" style="color: rgb(0,0,0);padding: 0px;background-color: rgba(39,104,104,0);">
                <div id="sidebar-wrapper" style="background-color: rgb(39,104,104);color: rgb(0,0,0);text-align:right;">
                    <ul class="sidebar-nav">
                        <li> <a href="{{ path('usuario_edit', {id: app.session.get('usuario_id')}) }}">Mi cuenta <i class="fa fa-home"></i></a></li>
                        <li> <a href="{{ path('alerta_index', {idUsuario: app.session.get('usuario_id')}) }}">Mis alertas <i class="fa fa-bell"></i></a></li>
                        <li> <a href="{{ path('inmueble_index', {id: app.session.get('usuario_id')}) }}">Mis inmuebles <i class="fa fa-building"></i></a></li>
                        <li> <a href="{{ path('cita_index', {id: app.session.get('usuario_id')}) }}">Mis citas <i class="fa fa-calendar"></i></a></li>
                        <li> <a href="{{ path('favorito_index', {idUsuario: app.session.get('usuario_id')}) }}">Mis favoritos <i class="fa fa-heart"></i></a></li>
                        <li> <a href="{{ path('mensaje_index') }}">Mis mensajes <i class="fa fa-inbox"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 container" style="text-align:left;">
                {% block body %}{% endblock %}
            </div>
         </div>
    
        
        <div class="footer-basic" style="margin-bottom:-250px;">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Services</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Rentus © 2020</p>
            </footer>
         </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endif %}
