{% extends 'base_back.html.twig' %}

{% block title %}Cita{% endblock %}

{% block body %}
    <h1>Cita</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ citum.id }}</td>
            </tr>
            <tr>
                <th>Fecha_hora</th>
                <td>{{ citum.fechaHora ? citum.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id_usuario1</th>
                <td>{{ citum.idUsuario1 }}</td>
            </tr>
            <tr>
                <th>Id_usuario2</th>
                <td>{{ citum.idUsuario2 }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ citum.direccion }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ citum.ciudad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cita_index', {id: app.session.get('usuario_id')}) }}">back to list</a>

    <a href="{{ path('cita_edit', {'id': citum.id}) }}">edit</a>

    {{ include('cita/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/cita/cita.js') }}">
        var latitud = "hola";
    </script>
{% endblock %}